.dim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.dim .side-menu {
  position: relative;
  width: 440px;
  height: 100%;
  background: #fff;
}

.dim .side-menu .close {
  height: 62px;
  border-bottom: 1px solid lightgray;
}

.dim .side-menu .close .close-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  cursor: pointer;
}

.dim .side-menu .close .close-btn:hover span {
  background: #1f618d;
}

.dim .side-menu .close .close-btn span {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  transition: 0.2s;
}

.dim .side-menu .close .close-btn span:first-child {
  transform: rotate(-45deg);
}

.dim .side-menu .close .close-btn span:last-child {
  transform: rotate(45deg);
}

.side-menu-footer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background: #222426;
  color: #fff;
  font-size: 12px;
}

.side-menu-footer div {
  width: 120px;
  height: 35px;
  background: red;
}
