.all-games .header {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.all-games .header .title {
  display: flex;
}

.all-games .header .title h2 {
  font-size: 24px;
  margin-right: 10px;
}

.all-games .header .title .view-type {
}

.all-games .header .title .view-type input[type="radio"] {
  display: none;
}

.all-games .header .title .view-type input[type="radio"]:checked + span {
  background: #000;
  color: #fff;
}
.all-games .header .title .view-type span {
  font-size: 13px;
  color: #dde1e5;
  border: 1px solid #dde1e5;
  padding: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.all-games .header .title .view-type span label {
  cursor: pointer;
}

.all-games .header .title .view-type span:hover {
  color: #1f618d;
}

/* ------- All Games - Header - Search Bar ------- */
.all-games .header .search-bar {
  position: relative;
}

.all-games .header .search-bar input {
  width: 302px;
  height: 44px;
  padding: 0 3px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dde1e5;
}

.all-games .header .search-bar i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 7px;
}

/* ------- All Games - Filter ------- */
.all-games .filter {
  background: #fff;
  padding: 24px 29px;
  margin: 29px 0;
  display: flex;
  justify-content: space-between;
}

.all-games .filter a {
  font-size: 12px;
  text-decoration: none;
  color: #9fa1a7;
  border-radius: 17px;
  padding: 5px 9px;
  transition: 0.2s;
}

.all-games .filter a:hover {
  color: #1f618d;
}

.all-games .filter a.selected {
  border: 1px solid #000;
  background: #000;
  color: #fff;
}

/* ------- All Games - PC ------- */
.all-games .pc {
}

.all-games .pc .type {
  margin-bottom: 24px;
  margin-top: 52px;
}

.all-games .pc .type h2 {
  display: inline-block;
  margin-right: 24px;
  font-size: 21px;
  color: #4a4257;
}

.all-games .pc .type h2.type-mobile {
  cursor: pointer;
  transition: 0.2s;
  color: #c7c8cc;
}

.all-games .pc .type h2.type-mobile:hover {
  color: #1f618d;
}

.all-games .pc .pc-games {
  display: flex;
  flex-wrap: wrap;
}

/* ------- All Games - Mobile ------- */
.all-games .mobile .type {
  display: inline-block;
  margin-right: 24px;
  font-size: 21px;
  color: #4a4257;
  margin-bottom: 24px;
  margin-top: 52px;
}

.all-games .mobile .mobile-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
