header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
}

/* ------- Left Menu -------*/
.menu {
  display: flex;
}

.menu .menu-title {
  line-height: 17px;
  margin-left: 10px;
}

/*------- Title -------*/
header .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* ------- Right Buttons -------*/
.right-btns {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.right-btns div {
  margin-right: 23px;
}

.right-btns div:last-child {
  margin-right: 0;
}

.right-btns .pc span {
  color: #9fa1a7;
  text-transform: uppercase;
}

.right-btns .login {
  font-weight: bold;
  border: 2px solid #000;
  padding: 4px 10px;
  border-radius: 20px;
}
