header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
  height: 62px;
  box-sizing: border-box;
}

/* ------- Left Menu -------*/
.menu {
  display: flex;
  transition: 0.2s;
  cursor: pointer;
}

.menu:hover {
  color: #1f618d;
}

.menu i {
  font-size: 18px;
}

.menu .menu-title {
  line-height: 17px;
  margin-left: 10px;
}

/*------- Title -------*/
header .title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
}

header .title:hover {
  color: #1f618d;
}

/* ------- Right Buttons -------*/
.right-btns {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.right-btns div {
  margin-right: 23px;
}

.right-btns div:last-child {
  margin-right: 0;
}

.right-btns .pc span {
  color: #9fa1a7;
  text-transform: uppercase;
}

.right-btns .login {
  font-weight: bold;
  border: 2px solid #000;
  padding: 4px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.right-btns .register {
  cursor: pointer;
  transition: 0.2s;
}

.right-btns .register:hover {
  color: #1f618d;
}

.right-btns .login:hover {
  border-color: #1f618d;
  color: #fff;
  background: #1f618d;
}
